.cases {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 1.25rem 1.25rem;
}

.case {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 3.5rem;
  width: 100%;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.case:hover .case-img {
  transform: scale(1.05);
  transition: all 0.2s ease-in;
}

.case-img {
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in;
}

.case-title {
  margin: 1.5rem 0 1rem;
  color: #939393;
  font-weight: bold;
  text-transform: uppercase;
}

.case-caption {
  font-weight: 300;
  font-size: 2.25rem;
  line-height: 1.1;
}

.case-link {
  position: relative;
  display: none;
  margin-top: auto;
  padding-left: 1rem;
  color: #1a18f7;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.case-link::after {
  content: "";
  position: absolute;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid transparent;
  border-left: 6px solid #1a18f7;
  top: 2px;
  left: 0;
  transition: all 0.2s ease-in;
}

.case:hover .case-link::after,
.case-link:hover::after {
  left: 3px;
  transition: all 0.2s ease-in;
}

.case-caption::first-letter {
  text-transform: uppercase;
}

@media only screen and (min-width: 620px) {
  .cases {
    justify-content: space-between;
  }

  .case {
    /* height: 30rem; */
    width: 45%;
    overflow: hidden;
  }

  .case-title {
    font-size: 0.8rem;
  }

  .case-caption {
    font-size: 2rem;
    height: 2rem;
  }

  .case-link {
    margin-top: 3rem;
    display: block;
  }
}

@media only screen and (min-width: 850px) {
  .cases {
    padding: 0 3rem 3rem;
  }

  .case-img {
    max-width: 30rem;
  }
}

@media only screen and (min-width: 995px) {
  .case-link {
    margin-top: 1.5rem;
  }
}

@media only screen and (min-width: 1025px) {
  .cases {
    padding: 0 5rem 5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .cases {
    margin: 0 auto;
    padding: 0 8rem 8rem;
    max-width: 80rem;
  }
}

@media only screen and (min-width: 1480px) {
  .cases {
    max-width: 120rem;
  }

  .case {
    width: 30%;
  }

  .case-link {
    margin-top: 3rem;
  }
}

@media only screen and (min-width: 1605px) {
  .case-link {
    margin-top: 1.5rem;
  }
}
