.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  padding: 1rem 1.25rem;
  z-index: 2;
}

.header-logo {
  width: 3rem;
}

.header-btn {
  width: 1.5rem;
  height: 2rem;
}

.header-btn--line {
  display: block;
  width: 100%;
  height: 2px;
  background: black;
}

.header-btn--line:first-child {
  margin-bottom: 0.25rem;
}
