.clients {
  background-color: #f3f6f6;
  padding: 2rem 1.25rem;
}

.clients-title {
  margin-bottom: 0.5rem;
  font-weight: 300;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.clients-paragraph {
  margin-bottom: 4rem;
  text-align: center;
  line-height: 1.75;
}

.client-grid {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.client {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50%;
  height: 5rem;
}

.client-img {
  /* height: 3rem; */
  max-width: 5rem;
}
