.clients {
  background-color: #f3f6f6;
  padding: 2rem 1.25rem;
}

.clients-title {
  margin-bottom: 0.5rem;
  font-weight: 300;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.clients-paragraph {
  text-align: center;
  line-height: 1.75;
  max-width: 30rem;
  margin: 0 auto 4rem;
}

.client-grid {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.client {
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50%;
  height: 5rem;
}

.client:nth-child(-n + 6) {
  display: flex;
}

.client-img {
  /* height: 3rem; */
  max-width: 7rem;
}

@media only screen and (min-width: 620px) {
  .clients {
    padding: 2rem 1.25rem 4rem;
  }

  .clients-title {
    font-size: 2.5rem;
  }

  .client {
    display: flex;
    width: 25%;
  }

  .client-img {
    max-width: 5rem;
  }
}

@media only screen and (min-width: 850px) {
  .client-img {
    max-width: 7rem;
  }
}

@media only screen and (min-width: 1025px) {
  .client-grid {
    max-width: 80rem;
    margin: 0 auto;
  }
}
