.form {
  margin: 2rem 0;
  text-align: right;
  width: 100%;
}

.form-label {
  color: #a3a3a3;
  font-size: 2rem;
  font-family: "Teko", sans-serif;
}

.form-select {
  border-bottom: 1px solid black;
  font-size: 2rem;
  font-family: "Teko", sans-serif;
  font-weight: 600;
}

.form-option:checked {
  font-size: 10px;
}

@media only screen and (min-width: 620px) {
  .form-label,
  .form-select {
    font-size: 1.75rem;
  }
}

@media only screen and (min-width: 1025px) {
  .form-label,
  .form-select {
    font-size: 1.25rem;
  }
}
