.header {
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  padding: 1rem 1.25rem;
  z-index: 2;
}

.menu-logo {
  width: 3rem;
}

.menu-btn {
  width: 1.5rem;
  height: 2rem;
}

.menu-btn--line {
  display: block;
  width: 100%;
  height: 2px;
  background: black;
}

.menu-btn--line:first-child {
  margin-bottom: 0.25rem;
}

.header-title {
  padding: 1rem 1.25rem;
  background-image: url("./../../images/hero_image.png");
  background-position: right;
  background-size: cover;
}

.header-title h1 {
  margin: auto 0;
  padding-top: 5rem;
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 10rem;
  text-transform: uppercase;
}

.header-cta {
  padding: 1rem 1.25rem 0rem;
}

.header-cta button {
  width: 100%;
  padding: 1rem 1rem;
  color: white;
  background-color: black;
  font-size: 0.9rem;
  text-transform: uppercase;
}
